.title{
    border:solid black;
    margin:1em;
    text-align:center;
}
.animalHolder{
    display:flex;
}
.cats{
    /* border:solid blue; */
    width:50%;
    height:42vh;
}
.dogs{
    /* border:solid red; */
    width:50%;
    height:42vh;
}
.meow,.woof{
    width:100%;
    height:100%;
}
.which{
    width:100%;
    font-size:32px;
    font-family: cinzel;
}
.infobox{
    display:flex;
    justify-content: space-between;
}